<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <form action="" method="post">
        <p>Employee ID <input type="integer" name="employee_id"></p>
        <p>Name <input type="text" name="name"></p>
        <p>Age <input type="integer" name="age"></p>
        <p>Position <input type="text" name="position"></p>
        <input type="submit" value="Submit">
    </form>
</body>

</html>